.hero {
    background: url('/data/Image/registerbg.jpg') center/cover;
    height: 80vh;
    text-align: center;
    color: #3f11e6;
    padding-top: 150px ;
  }
  
  .hero .btn {
    background: #69a4b3;
    padding: 4px 25px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
  }
  