.login-container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ),
      url('/data/Image/logo.jfif') center/cover no-repeat;
  }
  
  .login-card {
    background: #ffffff;
    padding: 35px 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    color: #4988c0;
  }
  
  .login-card input,
  .login-card select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .login-card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #69a4b3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .login-card button:hover {
    background: #4988c0;
  }
  